
<div class="navcontainer">
  <mat-toolbar>
    <div class="example-button-container">
      <button [disabled]="disabledBut" (click)="toggleMap()" mat-mini-fab color="basic" >
        <mat-icon>{{icon}}</mat-icon>
      </button>
    </div>
    <div class="pad"></div>
  
    <span class="example-spacer"></span>
  </mat-toolbar>
</div>
<div class="container">
  <mat-drawer-container>
    <mat-drawer-content>
      <form class="example-form" #mode value="side">
        <mat-form-field class="example-full-width">
          <mat-label>Місто/Селище</mat-label>
          <input type="text"
          placeholder="Вибрати зі списку"
          aria-label="Town/Settlement"
          matInput
          [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let value of mainService.city; index as i"
            [value]="value.city_ascii"
            (click)="toggle(value)">
              <div (click)="drawer.toggle()">
                {{value.city_ascii}}
              </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        <div [ngSwitch]="mat">
          <div class="map" [class.map1]="mat">
            <!--<div *ngIf="apiLoaded | async">
              <google-map class="map"
                          [center]="center"
                          [zoom]="zoom"
                          (mapClick)="moveMap($event)"
                          (mapMousemove)="move($event)">

              </google-map>
              <div>Latitude: {{display?.lat}}</div>
              <div>Longitude: {{display?.lng}}</div>
            </div>-->

              <ya-map [center]="[mainService.city[count].lat, mainService.city[count].lng]" [zoom]="8">
                <ya-clusterer options="clustererOptions">
                  <ng-container *ngFor="let point of mainService.city[count].point;">
                    <ng-container *ngFor="let sel of selArr;">
                      <ya-placemark *ngIf="point.id == sel" [geometry]="[point.lat, point.lng]">
                      </ya-placemark>
                    </ng-container>
                  </ng-container>
                </ya-clusterer>
              </ya-map>

          </div>
          <div class="map" [class.map1]="mat1">
            <ya-map [center]="[mainService.city[count].lat, mainService.city[count].lng]" [zoom]="8">
              <ya-placemark [geometry]="[mainService.city[count].lat, mainService.city[count].lng]">
              </ya-placemark>
            </ya-map>
          </div>
      </div>
    </form>
  </mat-drawer-content>
    <mat-drawer #drawer [mode]="mode.value" >
      <div [ngSwitch]="count">
        <ng-template ngSwitchCase="1">
          <mat-selection-list  #shoes>
            <ng-container *ngFor="let point of mainService.city[1].point;">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{point.name}}</mat-card-title>
                  <mat-card-subtitle>{{point.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{point.url}}" alt="">
                <mat-card-content>
                  <p>{{point.description}}</p>
                </mat-card-content>
              </mat-card>
              <mat-list-option (click)="gg(point)" [value]="point.id" ></mat-list-option>
            </ng-container>
          </mat-selection-list>
        </ng-template>
        <ng-template ngSwitchDefault>
          <mat-selection-list #shoes >
            <ng-container  multiple *ngFor="let point of mainService.city[0].point; treckBy:point?.id;">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{point.name}}</mat-card-title>
                  <mat-card-subtitle>{{point.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{point.url}}" alt="">
                <mat-card-content>
                  <p>{{point.description}}</p>
                </mat-card-content>
                <!--<button (click)="selectCardPoint(point.id)">select</button>-->
              </mat-card>
              <mat-list-option (click)="gg(point)" [value]="point.id" ></mat-list-option>
            </ng-container>
          </mat-selection-list>
        </ng-template>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
